/* index.html css */

.human-nav-bar {
    margin-left: 50%;
  }
  
  .human-index-div {
    margin: 16%;
  }
  
  .human-footer {
    color: white;
    padding: 10px;
  }

  .main-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;

  }
  



  /* features.html css */

.human-features-container {
    margin-top: 3%;
  }
  
  .human-features-main {
    margin: 3.5%;
  }
  
  .human-features-form {
    margin-right: 21%;
  }

  /* contact-us.html css */

  h1{
    font-size: 40px;
    margin-top: 250px;
  }

  p{
    font-size: 17px;
  }
  

  /* Common css */

  .human-removed {
    display: none;
  }
  